@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-image: linear-gradient(
    to left top,
    #5de7ff,
    #85e7ff,
    #a6e8ff,
    #c1e8ff,
    #d6eaff
  ); */
  background-color: #D6EAFF;
  font-family: 'Inter';
}

.bg_circles {
  height: calc(100% + 10px);
}

.heading_title>h1 {
    line-height: 70px;
    margin-bottom: 20px;
    text-shadow: 0 10px 8 rgba(0,0,0,.25);
}

.heading_title>h2 {
    line-height:50px;
    text-shadow: 0 10px 8 rgba(0,0,0,.25);

}

.main_input_con {
  backdrop-filter: blur(5);
  box-shadow: 0 4px 20px 0px rgba(0,0,0,.25);
}

.submit_button {
  box-shadow: 0 0 10 0 rgba(0,0,0,.25);
}

.err_warn {
  background-color: #ff2d2d3b;
  backdrop-filter: blur(5);
  box-shadow: 0 0 10px 0 rgba(0,0,0,.25);
  border-radius: 15px;
}

.response_box {
  backdrop-filter: blur(5);
  
  box-shadow: 0 4px 20px 0px rgba(0,0,0,.25);
  @apply py-[16px] px-[18px] mt-[25px] w-full bg-[#fafafa3a] rounded-[15px]
}

.divider {
  @apply w-full bg-[#414141] h-[1px] my-[20px]
}